header {
  width: 90%;
  margin: 0 auto;
}

h1 {
  text-align: center;
}

.Form {
  display: flex;
  justify-content: center;
  gap: 5px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.MovieList {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 0;
  gap: 20px;
}

.MovieCard {
  list-style: none;
  text-align: center;
}

.MovieCard img {
  border-radius: 10px;
  max-height: 350px;
}

.MovieCardInfo {
  margin-bottom: 10px;
}

.MovieCard h3 {
  margin: 0;
}
